<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="icon" type="image/png" href="/images/Screenshot_2025-09-28_142025.png" />
    <link rel="stylesheet" href="/css/forgotpassword.css" />
</head>

<body>
    <%- body %>
        <script src="/js/forgot-password.js"></script>
</body>

</html>
