        <!-- Forgot Password Modal -->
        <div id="forgotPasswordModal" class="forgot-modal" style="display: none;">
            <div class="forgot-modal-content">
                <div class="forgot-modal-header">
                    <div class="forgot-logo-section">
                        <img src="/images/memofy-logo.png" alt="Logo" class="forgot-small-logo">
                        <span class="forgot-title">Reset Your Password</span>
                    </div>
                    <button id="closeForgotModal" class="close-forgot-modal">&times;</button>
                </div>
                <div class="forgot-modal-body">
                    <h2 class="forgot-heading">Reset Your Password</h2>
                    <p class="forgot-subtitle">Enter your email to receive a reset link.</p>

                    <form id="forgotForm">
                        <div class="input-group">
                            <img src="/images/email.png" alt="Email Icon" class="input-icon">
                            <input type="email" name="email" placeholder="Email" required>
                        </div>
                        <button type="submit" class="login-btn">Send</button>
                    </form>
                </div>
            </div>
        </div>

