<aside class="log-sidebar">
    <div class="log-sidebar-container">
        <button class="compose-btn" style="margin-top: 3rem; margin-bottom: 1rem;">
           <i data-lucide="pen-tool"></i>
            <span>Compose</span>
        </button>

        <div class="folders">
            <a href="#" class="folder-item active" data-folder="inbox">
                <i data-lucide="inbox"></i>
                <span>Inbox</span>
            </a>
            <a href="#" class="folder-item" data-folder="sent">
                <i data-lucide="send"></i>
                <span>Sent</span>
            </a>
            <a href="#" class="folder-item" data-folder="starred">
                <i data-lucide="star"></i>
                <span>Starred</span>
            </a>
            <a href="#" class="folder-item" data-folder="archive">
                <i data-lucide="archive"></i>
                <span>Archived</span>
            </a>
            <a href="#" class="folder-item" data-folder="activity">
                <i data-lucide="activity"></i>
                <span>Activity Logs</span>
            </a>
            <a href="#" class="folder-item" data-folder="deleted">
                <i data-lucide="trash-2"></i>
                <span>Deleted</span>
            </a>
        </div>
    </div>
</aside>
