<head>
    <link rel="stylesheet" href="/frontend/public/css/admin-dash.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">
            <img src="/assets/memofy-logo.png" alt="Memofy Logo">
            <h2>Memofy</h2>
        </div>
        <nav>
            <ul>
                <li class="active">
                    <img src="images/dash-icon.png" alt="Dashboard icon">
                    Dashboard
                </li>
                <li>
                    <img src="images/user-icon.png" alt="Users icon">
                    Users
                </li>
                <li>
                    <img src="images/log-icon.png" alt="Log icon">
                    Log
                </li>
                <li>
                    <img src="images/calendar-icon.png" alt="Calendar icon">
                    Calendar
                </li>
            </ul>
        </nav>
        <div class="logout">
            <i data-lucide="log-out"></i> Logout
        </div>
        <div class="profile">
            <img src="/assets/queen.png" alt="Profile">
            <div>
                <p class="name">Queen DLR</p>
                <p class="email">q.esthr@gmail.com</p>
            </div>
        </div>
    </aside>



