@import url('/css/secretary-dashboard.css');

/* Prevent main content from scrolling on memos page */
.main-content {
    overflow-y: hidden;
}

.memo-list-container {
    padding-top: 10px;
    height: 500px;
    overflow-y: auto;
}
